<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>سورة الفاتحة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>سورة البقرة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>سورة آل عمران</td>
    </tr>
    <tr>
      <th>0</th>
      <td>4</td>
      <td>سورة النساء</td>
    </tr>
    <tr>
      <th>0</th>
      <td>5</td>
      <td>سورة المائدة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>6</td>
      <td>سورة الأنعام</td>
    </tr>
    <tr>
      <th>0</th>
      <td>7</td>
      <td>سورة الأعراف</td>
    </tr>
    <tr>
      <th>0</th>
      <td>8</td>
      <td>سورة الأنفال</td>
    </tr>
    <tr>
      <th>0</th>
      <td>9</td>
      <td>سورة التوبة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>10</td>
      <td>سورة يونس</td>
    </tr>
    <tr>
      <th>0</th>
      <td>11</td>
      <td>سورة هود</td>
    </tr>
    <tr>
      <th>0</th>
      <td>12</td>
      <td>سورة يوسف</td>
    </tr>
    <tr>
      <th>0</th>
      <td>13</td>
      <td>سورة الرعد</td>
    </tr>
    <tr>
      <th>0</th>
      <td>14</td>
      <td>سورة ابراهيم</td>
    </tr>
    <tr>
      <th>0</th>
      <td>15</td>
      <td>سورة الحجر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>16</td>
      <td>سورة النحل</td>
    </tr>
    <tr>
      <th>0</th>
      <td>17</td>
      <td>سورة الإسراء</td>
    </tr>
    <tr>
      <th>0</th>
      <td>18</td>
      <td>سورة الكهف</td>
    </tr>
    <tr>
      <th>0</th>
      <td>19</td>
      <td>سورة مريم</td>
    </tr>
    <tr>
      <th>0</th>
      <td>20</td>
      <td>سورة طه</td>
    </tr>
    <tr>
      <th>0</th>
      <td>21</td>
      <td>سورة الأنبياء</td>
    </tr>
    <tr>
      <th>0</th>
      <td>22</td>
      <td>سورة الحج</td>
    </tr>
    <tr>
      <th>0</th>
      <td>23</td>
      <td>سورة المؤمنون</td>
    </tr>
    <tr>
      <th>0</th>
      <td>24</td>
      <td>سورة النور</td>
    </tr>
    <tr>
      <th>0</th>
      <td>25</td>
      <td>سورة الفرقان</td>
    </tr>
    <tr>
      <th>0</th>
      <td>26</td>
      <td>سورة الشعراء</td>
    </tr>
    <tr>
      <th>0</th>
      <td>27</td>
      <td>سورة النمل</td>
    </tr>
    <tr>
      <th>0</th>
      <td>28</td>
      <td>سورة القصص</td>
    </tr>
    <tr>
      <th>0</th>
      <td>29</td>
      <td>سورة العنكبوت</td>
    </tr>
    <tr>
      <th>0</th>
      <td>30</td>
      <td>سورة الروم</td>
    </tr>
    <tr>
      <th>0</th>
      <td>31</td>
      <td>سورة لقمان</td>
    </tr>
    <tr>
      <th>0</th>
      <td>32</td>
      <td>سورة السجدة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>33</td>
      <td>سورة الأحزاب</td>
    </tr>
    <tr>
      <th>0</th>
      <td>34</td>
      <td>سورة سبإ</td>
    </tr>
    <tr>
      <th>0</th>
      <td>35</td>
      <td>سورة فاطر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>36</td>
      <td>سورة يس</td>
    </tr>
    <tr>
      <th>0</th>
      <td>37</td>
      <td>سورة الصافات</td>
    </tr>
    <tr>
      <th>0</th>
      <td>38</td>
      <td>سورة ص</td>
    </tr>
    <tr>
      <th>0</th>
      <td>39</td>
      <td>سورة الزمر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>40</td>
      <td>سورة غافر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>41</td>
      <td>سورة فصلت</td>
    </tr>
    <tr>
      <th>0</th>
      <td>42</td>
      <td>سورة الشورى</td>
    </tr>
    <tr>
      <th>0</th>
      <td>43</td>
      <td>سورة الزخرف</td>
    </tr>
    <tr>
      <th>0</th>
      <td>44</td>
      <td>سورة الدخان</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45</td>
      <td>سورة الجاثية</td>
    </tr>
    <tr>
      <th>0</th>
      <td>46</td>
      <td>سورة الأحقاف</td>
    </tr>
    <tr>
      <th>0</th>
      <td>47</td>
      <td>سورة محمد</td>
    </tr>
    <tr>
      <th>0</th>
      <td>48</td>
      <td>سورة الفتح</td>
    </tr>
    <tr>
      <th>0</th>
      <td>49</td>
      <td>سورة الحجرات</td>
    </tr>
    <tr>
      <th>0</th>
      <td>50</td>
      <td>سورة ق</td>
    </tr>
    <tr>
      <th>0</th>
      <td>51</td>
      <td>سورة الذاريات</td>
    </tr>
    <tr>
      <th>0</th>
      <td>52</td>
      <td>سورة الطور</td>
    </tr>
    <tr>
      <th>0</th>
      <td>53</td>
      <td>سورة النجم</td>
    </tr>
    <tr>
      <th>0</th>
      <td>54</td>
      <td>سورة القمر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>55</td>
      <td>سورة الرحمن</td>
    </tr>
    <tr>
      <th>0</th>
      <td>56</td>
      <td>سورة الواقعة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>57</td>
      <td>سورة الحديد</td>
    </tr>
    <tr>
      <th>0</th>
      <td>58</td>
      <td>سورة المجادلة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>59</td>
      <td>سورة الحشر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>60</td>
      <td>سورة الممتحنة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>61</td>
      <td>سورة الصف</td>
    </tr>
    <tr>
      <th>0</th>
      <td>62</td>
      <td>سورة الجمعة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>63</td>
      <td>سورة المنافقون</td>
    </tr>
    <tr>
      <th>0</th>
      <td>64</td>
      <td>سورة التغابن</td>
    </tr>
    <tr>
      <th>0</th>
      <td>65</td>
      <td>سورة الطلاق</td>
    </tr>
    <tr>
      <th>0</th>
      <td>66</td>
      <td>سورة التحريم</td>
    </tr>
    <tr>
      <th>0</th>
      <td>67</td>
      <td>سورة الملك</td>
    </tr>
    <tr>
      <th>0</th>
      <td>68</td>
      <td>سورة القلم</td>
    </tr>
    <tr>
      <th>0</th>
      <td>69</td>
      <td>سورة الحاقة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>70</td>
      <td>سورة المعارج</td>
    </tr>
    <tr>
      <th>0</th>
      <td>71</td>
      <td>سورة نوح</td>
    </tr>
    <tr>
      <th>0</th>
      <td>72</td>
      <td>سورة الجن</td>
    </tr>
    <tr>
      <th>0</th>
      <td>73</td>
      <td>سورة المزمل</td>
    </tr>
    <tr>
      <th>0</th>
      <td>74</td>
      <td>سورة المدثر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>75</td>
      <td>سورة القيامة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>76</td>
      <td>سورة الانسان</td>
    </tr>
    <tr>
      <th>0</th>
      <td>77</td>
      <td>سورة المرسلات</td>
    </tr>
    <tr>
      <th>0</th>
      <td>78</td>
      <td>سورة النبإ</td>
    </tr>
    <tr>
      <th>0</th>
      <td>79</td>
      <td>سورة النازعات</td>
    </tr>
    <tr>
      <th>0</th>
      <td>80</td>
      <td>سورة عبس</td>
    </tr>
    <tr>
      <th>0</th>
      <td>81</td>
      <td>سورة التكوير</td>
    </tr>
    <tr>
      <th>0</th>
      <td>82</td>
      <td>سورة الإنفطار</td>
    </tr>
    <tr>
      <th>0</th>
      <td>83</td>
      <td>سورة المطففين</td>
    </tr>
    <tr>
      <th>0</th>
      <td>84</td>
      <td>سورة الإنشقاق</td>
    </tr>
    <tr>
      <th>0</th>
      <td>85</td>
      <td>سورة البروج</td>
    </tr>
    <tr>
      <th>0</th>
      <td>86</td>
      <td>سورة الطارق</td>
    </tr>
    <tr>
      <th>0</th>
      <td>87</td>
      <td>سورة الأعلى</td>
    </tr>
    <tr>
      <th>0</th>
      <td>88</td>
      <td>سورة الغاشية</td>
    </tr>
    <tr>
      <th>0</th>
      <td>89</td>
      <td>سورة الفجر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>90</td>
      <td>سورة البلد</td>
    </tr>
    <tr>
      <th>0</th>
      <td>91</td>
      <td>سورة الشمس</td>
    </tr>
    <tr>
      <th>0</th>
      <td>92</td>
      <td>سورة الليل</td>
    </tr>
    <tr>
      <th>0</th>
      <td>93</td>
      <td>سورة الضحى</td>
    </tr>
    <tr>
      <th>0</th>
      <td>94</td>
      <td>سورة الشرح</td>
    </tr>
    <tr>
      <th>0</th>
      <td>95</td>
      <td>سورة التين</td>
    </tr>
    <tr>
      <th>0</th>
      <td>96</td>
      <td>سورة العلق</td>
    </tr>
    <tr>
      <th>0</th>
      <td>97</td>
      <td>سورة القدر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>98</td>
      <td>سورة البينة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>99</td>
      <td>سورة الزلزلة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>100</td>
      <td>سورة العاديات</td>
    </tr>
    <tr>
      <th>0</th>
      <td>101</td>
      <td>سورة القارعة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>102</td>
      <td>سورة التكاثر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>103</td>
      <td>سورة العصر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>104</td>
      <td>سورة الهمزة</td>
    </tr>
    <tr>
      <th>0</th>
      <td>105</td>
      <td>سورة الفيل</td>
    </tr>
    <tr>
      <th>0</th>
      <td>106</td>
      <td>سورة قريش</td>
    </tr>
    <tr>
      <th>0</th>
      <td>107</td>
      <td>سورة الماعون</td>
    </tr>
    <tr>
      <th>0</th>
      <td>108</td>
      <td>سورة الكوثر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>109</td>
      <td>سورة الكافرون</td>
    </tr>
    <tr>
      <th>0</th>
      <td>110</td>
      <td>سورة النصر</td>
    </tr>
    <tr>
      <th>0</th>
      <td>111</td>
      <td>سورة المسد</td>
    </tr>
    <tr>
      <th>0</th>
      <td>112</td>
      <td>سورة الإخلاص</td>
    </tr>
    <tr>
      <th>0</th>
      <td>113</td>
      <td>سورة الفلق</td>
    </tr>
    <tr>
      <th>0</th>
      <td>114</td>
      <td>سورة الناس</td>
    </tr>
  </tbody>
</table>